*{
    margin:0,
    padding:0;
    box-sizing:border-box;
}
body{
    /* background-color:black; */
}


.buttons-choice{
    /* border: 1px solid black; */
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.previewPages-container{
    border:1px solid red;
    /* width:50%; */
    /* height:100vh; */
   
    display:flex;
}


