
 h2{
     font-family: "Sansation", sans-serif;
  font-style: normal;
}
a, h5 {
    font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.skillsLogo-container , .projectsCards-container{
    padding:5% 4% 5% 4%;

 }
 .skill-logo{
  border-radius:50%;
 }
 .skill-logo img{
    border-radius:50%;

 }
.projects a {
   font-family: "Sansation", sans-serif ; !Important
 
  font-style: normal;

}

.fa-instagram{
    color:#517fa4 ;
}


.fa-linkedin{
    color: #007bb6;
}


.fa-github{
    color:#171515;
}
.fa-github:hover{
    color: #9c36b5;
}

.fa-instagram:hover{
    color: #bc2a8d;
}

.fa-linkedin:hover{
    color: #4dabf7;
}
