
 h2{
     font-family: "Sansation", sans-serif;
  font-style: normal;
}
a {
    font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.skillsLogo-container , .projectsCards-container{
    padding:5% 4% 5% 4%;

 }
 .skill-logo{
  /* border:1px solid red; */
  border-radius:50%;
 }
 .skill-logo img{
  /* border:1px solid blue; */
    border-radius:50%;

 }
.projects a {
   font-family: "Sansation", sans-serif ; !Important
 
  font-style: normal;

}
