
 h2{
     font-family: "Sansation", sans-serif;
 
  font-style: normal;
}
a {
    font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.skill-logo {
  border:1px solid red;
  width:8%;
  border-radius:50%;
}
.skill-logo img{
  border-radius:50%;
  background-position:center;
  background-size:contain;
}